extends master

block content
        
        p 
        | Welcome to the best task list application in the world!
        | With Task Manager 2000 Pro++, creating and managing tasks is a doddle!
        
        p Select from the list of options below what you would like to do today.
        
        ul
            li
                a(href="#") View & Manage Tasks
            li
                a(href="#") Create New Task
            li
                a(href="#") Get Pissed :D
        
        
        
        
        