doctype
html
    head
        script(src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.6.2/modernizr.min.js")
    body
        h1 Task Manager 2000 Pro++
        block content
        block scriptrefs
        